@import './font.css';

.nav-buttons button {
  margin-right: 10px;
  font-family: Motherish;
  font-size: 20px;
  letter-spacing: 0.05em;
}

.nav-buttons {
  text-align: center;
  offset: 10px;
  align-items: center;
}


.header-video {
  display: inline-block;
  background-size: cover;
  position: absolute;
  background-position:center;
  right: 0;
  bottom: 0;
  max-height: fit-content;
  min-width: 100%;
  overflow: hidden;
  z-index: -1;
}

.header-name {
  font-family: DelaGothicOne;
  z-index: 1;
  text-align: center;
  text-shadow: rgb(51, 49, 41) 1px 0 10px;
}

.nav {
  padding-left: calc(100vw - 100%);
  text-align: center;
  font-size: 72px;
  padding-bottom: 15px;
  color: white;
  position: sticky;
  margin-top: 0px;
  top: -19.3%;
  z-index: 10;
}

.header-description {
  font-size: 25px;
  padding-bottom: 10px;
}

.markdown {
  padding-top: 1px;
  color: white;
  text-align: left;
}

.markdown h1 {
  text-align: center;
  font-family: DelaGothicOne
}

.container {
  background-color: rgb(70, 70, 70);
  width: 50%;
  align-self: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: fit-content;
}

.box {
  padding-left: calc(100vw - 100%);
}

/* CSS */
.portfolio-card {
  margin-bottom: 14px;
  border: 2px solid #ffffff;
  position: relative;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  width: 100%;
  min-height: fit-content;
  will-change: transform;
  overflow: hidden;
  min-height: 200px;
}

.portfolio-card-content {
  background-image: linear-gradient(to right, rgba(26, 26, 26, 0), rgba(26, 26, 26, 1));
  overflow: hidden;
  min-height: inherit;
}

.portfolio-card img {
  display: inline-block;
  background-size: cover;
  position: absolute;
  background-position:center;
  right: 0;
  bottom: 0;
  max-height: fit-content;
  min-height: fit-content;
  min-width: 100%;
  overflow: hidden;
  z-index: -1;
}


.portfolio-card .markdown h1 {
  text-shadow: rgb(51, 49, 41) 1px 0 4px;
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-family: DelaGothicOne;
  font-size: 30px;
}

.portfolio-card .markdown h2 {
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  bottom: 40px;
  left: 10px;
  font-family: DelaGothicOne;
  font-size: 20px;
  letter-spacing: 1px;
}

.portfolio-card .markdown h4 {
  text-shadow: rgb(26, 25, 21) 10px 0 10px;
  position: absolute;
  bottom: -8px;
  left: 10px;
  font-family: Motherish;
  letter-spacing: 0.05em;
  font-size: 12px;
}

.portfolio-card .markdown {
  text-align: right;
  padding-right: 10px;
}

.bio-card {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(18,18,36,1) 0%, rgba(18,18,36,1) 30%, rgba(50,50,50,1) 100%);
  border:2px solid #ffffff;
  min-height: fit-content;
  width: 75%;
  margin-left: 12.5%;
}

.bio-card img {
  width: 75%;
  border: 2px solid #ffffff;
  position: relative;
  top: 15px;
  left: 12.5%;
  font-size: medium;
}

.bio-card .markdown {
  width: 95%;
  margin-right: 15px;
  margin-left: 13px;
}

.bio-card-skills .hard-skills {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(36,18,18,1) 0%, rgba(36,18,18,1) 30%, rgba(50,50,50,1) 100%);
  border:2px solid #ffffff;
  min-height: fit-content;
  width: 75%;
  margin-left: 12.5%;
  margin-top: -2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}

.bio-card-skills .soft-skills {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(18,36,18,1) 0%, rgba(18,36,18,1) 30%, rgba(50,50,50,1) 100%);
  border:2px solid #ffffff;
  min-height: fit-content;
  width: 75%;
  margin-left: 12.5%;
  margin-top: -2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}

.bio-card-skills .markdown {
  justify-content: space-between;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 0px; /* Adjust the gap as needed */
  width: 95%;
  margin-right: 15px;
  margin-left: 13px;
}

.bio-card-skills h1 {
  text-align: center;
  color: white;
  font-family: DelaGothicOne;
  position: relative;
}

.bio-card-skills h2 {
  font-size: medium;
  text-align: left;
  margin: 0;
  position: relative;
}

.bio-card-skills h3 {
  font-size: medium;
  text-align: right;
  margin: 0;
  position: relative;
}

.bio-card-skills h2::after, h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px; /* Adjust the thickness of the line */
  background-color: rgba(255, 255, 255, 0.529);
  position: absolute;
  top: 15px;
  bottom: 5px;
  left: 0;
}

.button-28 {
  background-color: transparent;
  border: 2px solid #ffffff;
  position: relative;
  top: -20px;
  color: #ffffff;
  cursor: pointer;
  block-size: 50px;
  font-size: 16px;
  font-weight: 600;
  min-height: 60px;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  min-width: 120px;
  max-width: 140px;
  width: 10%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: rgb(255, 255, 255);
  background-color: #1A1A1A;
  
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
