.nav-buttons button {
  margin-right: 10px;
}

.nav-buttons {
  text-align: center;
  offset: 10px;
  align-items: center;
}


.header-video {
  display: inline-block;
  background-size: cover;
  position: absolute;
  background-position:center;
  right: 0;
  bottom: 0;
  max-height: fit-content;
  min-width: 100%;
  overflow: hidden;
  z-index: -1;
}


.nav {
  padding-left: calc(100vw - 100%);
  text-align: center;
  font-size: 72px;
  padding-bottom: 10px;
  margin-top: 20px;
  color: white;
  position: sticky;
  top: 0;
}

.markdown {
  padding-top: 1px;
  color: white;
  text-align: left;
}

.markdown h1 {
  text-align: center;
}

.container {
  background-color: #464646;
  width: 50%;
  align-self: center;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.box {
  padding-left: calc(100vw - 100%);
}

/* CSS */
.button-28 {
  background-color: transparent;
  border: 2px solid #ffffff;
  position: relative;
  top: -20px;
  color: #ffffff;
  cursor: pointer;
  block-size: 50px;
  font-size: 16px;
  font-weight: 600;
  min-height: 60px;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  min-width: 120px;
  max-width: 140px;
  width: 10%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: rgb(255, 255, 255);
  background-color: #1A1A1A;
  
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
